<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />

    <link rel="icon" href="~/img/favicon.png" type="image/icon type"/>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a asp-controller="Main" asp-action="Main">
                    <img src="~/img/Logo.png" width="30%" alt="Дитяча офтальмологія" />
                </a>
            </div>
            <nav>
                <ul>
                    <li >
                        <a asp-controller="About" asp-action="About" class="dropdown @(ViewContext.RouteData.Values["controller"].ToString() == "About" ? "active" : "")">Про нас</a>
                        <ul class="dropdown-content">
                            <li><a asp-controller="About" asp-action="DiagnosticCabinet" class="@(ViewContext.RouteData.Values["controller"].ToString() == "About" && ViewContext.RouteData.Values["action"].ToString() == "DiagnosticCabinet" ? "active" : "")">Діагностичний кабінет</a></li>
                            <li><a asp-controller="About" asp-action="OrtoptychCabinet" class="@(ViewContext.RouteData.Values["controller"].ToString() == "About" && ViewContext.RouteData.Values["action"].ToString() == "OrtoptychCabinet" ? "active" : "")">Ортоптичний кабінет</a></li>
                        </ul>
                    </li>
                    <li >
                        <a asp-controller="Treatment" asp-action="Treatment" class="dropdown @(ViewContext.RouteData.Values["controller"].ToString() == "Treatment" ? "active" : "")">Наше лікування</a>
                        <ul class="dropdown-content">
                            <li><a asp-controller="Treatment" asp-action="Terapevtic" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Treatment" && ViewContext.RouteData.Values["action"].ToString() == "Terapevtic" ? "active" : "")">Терапевтичне лікування</a></li>
                            <li><a asp-controller="Treatment" asp-action="Orthopedic" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Treatment" && ViewContext.RouteData.Values["action"].ToString() == "Orthopedic" ? "active" : "")">Ортоптичне лікування</a></li>
                            <li><a asp-controller="Treatment" asp-action="Fizioterapevt" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Treatment" && ViewContext.RouteData.Values["action"].ToString() == "Fizioterapevt" ? "active" : "")">Фізіотерапевтичне лікування</a></li>
                        </ul>
                    </li>
                    <li >
                        <a class="dropdown @(ViewContext.RouteData.Values["controller"].ToString() == "Questions" ? "active" : "")"  asp-controller="Questions" asp-action="Questions">Питання-відповіді</a>
                    </li>
                    <li><a asp-controller="Contacts" asp-action="Contacts" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Contacts" ? "active" : "")">Контакти</a></li>
                    <li><a asp-controller="Lenses" asp-action="Lenses" class="@(ViewContext.RouteData.Values["controller"].ToString() == "Lenses" ? "active" : "")">Контактні і нічні лінзи</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        @RenderBody()
        <div id="full-image-view" onclick="closefullView(event)">
            <img id="full-image" />
            <span id="close-button" onclick="closefullView(event)">&times;</span>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-contact">
                <h3>Контакти</h3>
                <p>м. Рівне, вул. 16 липня, 57 (навпроти діагностичного центру)</p>
                <p class="phone">
                    <span class="label">Контактний телефон лікаря:</span> <span class="phone-number">📞 +38 (067) 219 27 74</span><br>
                <span class="label">Телефон кабінету:</span> <span class="phone-number">📞 +38 (066) 432 04 33</span><br>
                </p>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a asp-controller="About" asp-action="DiagnosticCabinet">Діагностичний кабінет</a></li>
                    <li><a asp-controller="About" asp-action="OrtoptychCabinet">Ортоптичний кабінет</a></li>
                    <li><a asp-controller="Treatment" asp-action="Terapevtic">Терапевтичне лікування</a></li>
                    <li><a asp-controller="Treatment" asp-action="Orthopedic">Ортоптичне лікування</a></li>
                    <li><a asp-controller="Treatment" asp-action="Fizioterapevt">Фізіотерапевтичне лікування</a></li>
                </ul>
            </div>
            <div class="footer-hours">
                <img src="~/img/Schedule.png" alt="Графік роботи">
                <p>Всі права захищені, — 2024.</p>
            </div>
        </div>
    </footer>
    <script src="~/js/site.js"></script>
    @* @await RenderSectionAsync("Scripts", required: false); *@
</body>
</html>
